/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style/main.scss ***!
  \**************************************************************************************************************/
body::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

body::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px; }

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #38693f, #355e68); }

@font-face {
  font-family: playfair;
  src: url(da93a1e6f84862c207e6.ttf); }

body {
  min-height: 200vh;
  margin: 0;
  padding: 0;
  font-family: playfair; }

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 20px 110px;
  box-sizing: border-box;
  background-size: cover;
  overflow: hidden; }
  .section_main {
    height: 100vh;
    background-image: url(4dfdc6bcaa5ddd20cdce.jpg);
    background-attachment: fixed;
    background-position: center;
    padding-top: 200px; }
  .section_color {
    background: #0d1914;
    position: relative; }
    .section_color::after {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 30px;
      transform: translate(0, 0);
      background: linear-gradient(#0d1914, white);
      clip-path: polygon(0 0, 100% 0, 50% 90%, 0 100%);
      bottom: 0; }
  .section__head {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px; }

.container {
  display: flex;
  justify-content: center;
  max-width: 1170px;
  width: 100%;
  min-height: 100%;
  padding-bottom: 12px; }
  .container__block {
    flex: 1 1; }
  .container__element {
    display: flex;
    flex-direction: column; }
    .container__element > div {
      transform: translate(0, 100%);
      opacity: 0;
      transition: all 1.1s;
      margin: 0 0 12px 0; }
    .container__element > :last-child {
      margin: 0; }
    @media (min-width: 768px) {
      .container__element {
        flex-direction: row; }
        .container__element > div {
          margin: 0 12px 0 0; } }
  .container__element_in-sight > div {
    transform: translate(0, 0);
    opacity: 1; }

.title {
  display: inline-block;
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 4px;
  color: honeydew; }
  .title_main-title {
    padding-bottom: 32px;
    font-size: 38px;
    float: right;
    text-align: right; }
  .title_simple {
    transition: all 1.1s;
    transform: translate(100%, 0);
    opacity: 0; }
  .title_simple_in-sight {
    transform: translate(0, 0);
    opacity: 1; }
  @media (min-width: 410px) {
    .title {
      font-size: 32px; }
      .title_main-title {
        font-size: 48px; } }
  @media (min-width: 768px) {
    .title {
      font-size: 42px; }
      .title_main-title {
        font-size: 64px; } }

.sub-title {
  display: inline-block;
  font-size: 14px;
  color: #ddffd5; }
  .sub-title_main-sub-title {
    font-size: 22px;
    text-align: end;
    float: right; }
  @media (min-width: 410px) {
    .sub-title {
      font-size: 18px; }
      .sub-title_main-sub-title {
        font-size: 32px;
        max-width: 700px; } }
  @media (min-width: 768px) {
    .sub-title {
      font-size: 22px; }
      .sub-title_main-sub-title {
        font-size: 42px;
        max-width: 850px; } }
  .sub-title_simple {
    transition: all 1.1s;
    transform: translate(100%, 0);
    opacity: 0; }
  .sub-title_simple_in-sight {
    transform: translate(0, 0);
    opacity: 1; }

.full-size {
  width: 100%;
  height: 100%; }

.full-size-window {
  width: 100vw;
  height: 100vh; }

.game-image {
  width: 300px;
  height: 225px;
  background-image: url(41bb7775c386f1db6086.png);
  background-size: cover; }
  .game-image img {
    object-fit: contain;
    width: 100%;
    height: 100%; }
  @media (min-width: 410px) {
    .game-image {
      width: 400px;
      height: 301px; } }
  @media (min-width: 768px) {
    .game-image {
      width: 760px;
      height: 572px; } }
  @media (min-width: 1024px) {
    .game-image {
      width: 1020px;
      height: 768px; } }
  @media (min-width: 1280px) {
    .game-image {
      width: 1200px;
      height: 904px; } }

.team-project {
  width: 300px; }
  @media (min-width: 410px) {
    .team-project {
      width: 400px; } }
  @media (min-width: 768px) {
    .team-project {
      width: 760px; } }
  @media (min-width: 1024px) {
    .team-project {
      width: 1020px; } }
  @media (min-width: 1280px) {
    .team-project {
      width: 1280px; } }
  .team-project_main {
    height: 123px;
    background-image: url(43c6bdfa25ed938fb195.png);
    background-size: cover; }
    @media (min-width: 410px) {
      .team-project_main {
        height: 164px; } }
    @media (min-width: 768px) {
      .team-project_main {
        height: 311px; } }
    @media (min-width: 1024px) {
      .team-project_main {
        height: 419px; } }
    @media (min-width: 1280px) {
      .team-project_main {
        height: 522px; } }
  .team-project_doc {
    height: 171px;
    background-image: url(3f37c15eeeba7a0dc89a.png);
    background-size: cover; }
    @media (min-width: 410px) {
      .team-project_doc {
        height: 232px; } }
    @media (min-width: 768px) {
      .team-project_doc {
        height: 440px; } }
    @media (min-width: 1024px) {
      .team-project_doc {
        height: 591px; } }
    @media (min-width: 1280px) {
      .team-project_doc {
        height: 742px; } }

.self-project {
  width: 300px;
  height: 249px; }
  @media (min-width: 410px) {
    .self-project {
      width: 380px;
      height: 315px; } }
  @media (min-width: 1024px) {
    .self-project {
      width: 510px;
      height: 423px; } }
  @media (min-width: 1280px) {
    .self-project {
      width: 630px;
      height: 523px; } }
  .self-project_main {
    background-image: url(f4ee8d930204a0cb7373.png);
    background-size: cover; }
  .self-project_search {
    background-image: url(1d1541690610cbe4100b.png);
    background-size: cover; }
  .self-project_detail {
    background-image: url(7652f3524cba34ce90d2.png);
    background-size: cover; }
  .self-project_nerrow {
    background-image: url(c23e3f34d3f4598337fd.png);
    background-size: cover; }

.chat-app {
  width: 300px;
  height: 124px; }
  .chat-app_1 {
    background-image: url(ba3ae967f686dec63b1f.png);
    background-size: cover; }
  .chat-app_2 {
    background-image: url(061a48b7519e7f3aabe7.png);
    background-size: cover; }
  .chat-app_3 {
    background-image: url(5ef77d011a93d44f166d.png);
    background-size: cover; }
  @media (min-width: 410px) {
    .chat-app {
      width: 400px;
      height: 165px; } }
  @media (min-width: 768px) {
    .chat-app {
      width: 760px;
      height: 312px; } }
  @media (min-width: 1024px) {
    .chat-app {
      width: 1020px;
      height: 419px; } }
  @media (min-width: 1280px) {
    .chat-app {
      width: 1280px;
      height: 525px; } }

.words-image {
  background-image: url(26e20dd2fa83ec47fc8d.png);
  background-size: cover;
  width: 300px;
  height: 169px; }
  .words-image img {
    object-fit: contain;
    width: 100%;
    height: 100%; }
  @media (min-width: 410px) {
    .words-image {
      width: 400px;
      height: 225px; } }
  @media (min-width: 768px) {
    .words-image {
      width: 760px;
      height: 427px; } }
  @media (min-width: 1024px) {
    .words-image {
      width: 1020px;
      height: 573px; } }
  @media (min-width: 1280px) {
    .words-image {
      width: 1280px;
      height: 720px; } }

.description {
  background: #f2eed7;
  font-size: 12px;
  padding: 10px 16px;
  border-radius: 6px;
  transition: all 1.1s;
  transform: translate(-100%, 0);
  opacity: 0; }
  .description__stack {
    font-size: 16px; }
    .description__stack span {
      color: #ff6600; }
  .description__link {
    font-size: 16px; }
  .description_in-sight {
    transform: translate(0, 0);
    opacity: 1; }
  @media (min-width: 410px) {
    .description {
      font-size: 16px; }
      .description__link, .description__stack {
        font-size: 18px; } }
  @media (min-width: 768px) {
    .description {
      font-size: 20px; }
      .description__link, .description__stack {
        font-size: 24px; } }

.footer {
  background-color: #a08066;
  padding: 20px 5%;
  text-align: end;
  font-size: 22px;
  color: #00832c; }

